# fly.toml app configuration file generated for appsec-backend on 2026-02-21T23:50:11+05:30
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'appsec-backend'
primary_region = 'sin'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[mounts]
  source = "appsec_data"
  destination = "/app/data"

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
